@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
title {
	  text-align: : center;
	  font-family: 'Mystery Quest',cursive;
}
p {
	font-size: 18px;
	line-height: 2em;
	margine: 2em;
}